<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="true">

  <variable name="logDirectory" value="${basedir}/Logs" />

  <extensions>
    <add assembly="NLog.Targets.Seq"/>
  </extensions>

  <targets async="true">

    <target name="textFile"
			xsi:type="File" 
			layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring} ${event-properties:item=Error}" 
			fileName="${logDirectory}/log.${date:format=yyyyMMdd_HH}.txt" 
			concurrentWrites="true" 
			createDirs="true" 
			autoFlush="true" />

    <target name="seq" xsi:type="BufferingWrapper" bufferSize="1000" flushTimeout="2000">
      <target xsi:type="Seq" serverUrl="http://192.168.20.25:5559" apiKey="">
        <property name="local-ip" value="${local-ip}" />
        <property name="MachineName" value="${machinename}" />
        <property name="ProjectType" value="Api" />
        <property name="ProjectName" value="Parsian Core" />
      </target>
    </target>

  </targets>

  <rules>
    <logger name="*" writeTo="textFile,seq" minlevel="Trace" />
  </rules>
</nlog>