<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
		<security>
			<requestFiltering allowDoubleEscaping="true"> </requestFiltering>
		</security>
		<handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		<remove name="WebDAV" />
      </handlers>
	  <modules>
		<remove name="WebDAVModule" />
	  </modules>
      <aspNetCore processPath="dotnet" arguments=".\Api.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: c8b4880d-f75a-4def-b49d-3feb8d28bc34-->